<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbHost"  value="localhost" />
    <add key="DbName"  value="example_db" />
    <add key="DbUser"  value="theUser" />
    <add key="DbPass"  value="theUser+2019*" />
    <add key="DbPort"  value="5432" />
  </appSettings>
</configuration>